<div class="container" id="welcome" style="display: none;">
      <div class="row">
        <div class="col-sm-7 col-md-offset-5 col-sm-offset-5">
          <!-- START -->
          <div class="topmargen">
            <h1 class="text-hide">Absolut Electrik Cocktail Tasting 
              <%= image_tag 'tl-atasting.png', class: 'img-responsive center-block' %></h1>
            <div class="width300">
            <h3>Presentamos 3 deliciosos cocktails que reflejan el concepto de Absolut Electrik.
            </h3>


            <h3>
              Selecciona las opciones acorde a tus gustos y obtén el cocktail ideal. 
            </h3>
            </div>

            <div class="row contenedor-botones">
              <div class="col-sm-12">
                <%= link_to "Iniciar", "javascript:;", class: 'btn btn-lg btn-absolut iniciar' %>
              </div>
            </div>


          </div>
        </div>
      </div>

</div>