<div class="container" >
      <div class="row">
        <div class="col-sm-12">
			<div id="club">
				<div class="oldgate">
             <%= image_tag 'logo-turn.png', width: 150, class: 'img-responsive center-block' %>

            <div class="row contenedor-botones">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <%= image_tag 'tl-club.png', class: 'img-responsive center-block' %>
             
             <br><br> 
					<div class="center-block">
						<%= render 'customers/form' %>
					</div>
				</div>
			</div>
	</div>
</div>